body{
    background:#f8f9fa;
}

.box{
    min-height:150px;
    border:1px solid #ccc;
    padding:15px;
    background:white;
}
.recording-status{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    display:inline-block;
    background:gray;
    margin-right:8px;
}

.recording{
    background:red !important;
    animation:pulse 1s infinite;
}

.stopped{
    background:green !important;
}

@keyframes pulse{
    0%{opacity:1;}
    50%{opacity:0.3;}
    100%{opacity:1;}
}